::placeholder{
    color: white;
    opacity:0.8
}

#name_surname_input{
    color: white;
    border:0;
    outline:0;
}

.tel-box{
    display: flex;
    margin: 1rem;
    margin-top: 0;
  }
  .select-box{
    margin: 1rem;
    width: 60px;
    height: 40px;
  }
  .flag-img{
    width: 60px;
    height: 40px;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
  }
  .select-box select{
    font-family: 'Lato', sans-serif;
    width: 60px;
    height: 40px;
    background: none;
    position: absolute;
    border: none;
    font-size: 1rem;
    padding-left: 4rem;
    outline: none;
    -webkit-appearance: none;
  }
  
  .tel{
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 40px;
    background: none;
    border: 2px solid black;
    outline: none;
    margin: 1rem;
    font-size: 1rem;
    padding-left: 1.5rem;
    color: black;
    font-weight: thick;
    border-radius: 5px;
  }
