@media screen and (max-width:1368px){
  #contact_link{
    display: block;
  }
  #responsive_work{
    display: block;
    height: 30%;
  }
  #work_large{
    display: none;
  }
  #main_large{
    width:33%
  }
  #faculties_container{
    width: 33%;
  }
  #services_large{
    width: 33%;
  }
  #contact_listitem{
    height: 30%;
  }
  #news_listitem{
    height: 30%;
  }
  #menu_list{
     width: 800%;
     left: -55%;
  }
}

@media screen and (max-width:1100px){
   #nav_container{
     width:65%;
   }
   #logo_box{
     margin-right: 70px;
   }
   #header_content{
    width: 90%;
  } 
  #menu_list{
    width: 1000%;
    left: -350%;
  } 
}

@media screen and (max-width:1000px){
   #search_box{
     width:250%;
   }
   #contact_listitem{
     height: 15%;
   }
   #news_listitem{
     height: 15%;
   }
   #responsive_work{
    height: 15%;
   }
   #menu_list{
     height: 350%;
     width: 900%;
     left: -500%;
   }
   #responsive_menu_cont{
     display: flex;
   }
}

@media screen and (max-width:850px) {
  #faculties_title{
    font-size: 13px;
  }
  #services_title{
    font-size: 13px;
  }
  #main_link{
    font-size: 13px;
  }
}

@media screen and (max-width:800px){
  #main_large{
    display: none;
  }
  #faculties_container{
    width: 50%;
  }
  #services_large{
    width: 50%;
  }
  #header_content{
    width: 95%;
  }
  #menu_list{
    width: 650%;
    left: -565%;
  }
  #grid_call{
    opacity: 1;
  }
}

@media screen and (max-width:650px){
  #menu_list{
    width: 800%;
    left: -645%;
  }
  #search_box{
    width: 550%;
    left:-350%;
  }
}

@media screen and (max-width:570px) {
  #faculties_title{
    font-size: 10px;
  }
  #services_title{
    font-size: 10px;
  }
  #menu_list{
    width: 1050%;
    left: -995%;
  }
  #faculties_list{
    width: 200%;
  }
}

@media screen and (max-width:700px) {
   #nav_container{
     display: none;
   }
   #work_listitem{
    height: 12%;
  }
  #contact_listitem{
    height: 12%;
  }
  #news_listitem{
    height: 12%;
  }
  #faculties_responsive{
    display: block;
  }
  #services_responsive{
    display: block;
  }
  #menu_list{
    width: 450%;
    left: -390%;
    height: 500%;
  }
  #grid_search{
    opacity:1;
  }
  #faculties_list_responsive{
    top: 550%;
    width: 95%;
  }
}

@media screen and (max-width:395px) {
  #menu_list{
    width: 560%;
    left: -525%;
    height: 600%;
  }
}