.sign-up-cont{
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.sign-up-title-cont{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
 }

.sign-up-title{
   font-size: 14px;
   color: white;
}

.sign-up-types-cont{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
}

.sign-up-column{
    width: 165px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sign-up-button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:hover{
        background-color: rgb(170, 170, 170);
    }
}

.sign-up-type{
    color: white;
    font-size: 10px;
}

.sign-up-image{
   position: absolute;
   top: 20%;
   left: 6%;
   width: 30px;
   height: 30px;
}