@import "../../../styles/styles.scss";

.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color:$background_dark;
}
  
#select{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding: 2px;
    font-size: 0;
    -webkit-appearance: none;
    appearance: none;
}

.MuiSelect-iconFilled{
    color: white;
    background-color: white;
}