.heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(6.771929824561404% / 2);
}

.headingTitle {
    width: 44.2188%;
    font-family: "Arial AMU", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.625rem;
    letter-spacing: 0.05em;
    color:white;
}
.headingTitleBlack {
    width: 44.2188%;
    font-family: "Arial AMU", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.625rem;
    letter-spacing: 0.05em;
    color:black;
}
.headingImg {
    min-width: 44.9981rem;
    height: 48.4294rem;
    background: url('../../../static/images/connect/Heading.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========== Media Queries ==========*/

/*---------- 1368px ----------*/

@media (max-width: 1368px) {
    .headingTitle {
        min-width: 32.1875rem;
        line-height: 4.5994rem;
        z-index: 2;
        margin-right: -1rem;
    }
    .headingTitleBlack{
        min-width: 32.1875rem;
        line-height: 4.5994rem;
        z-index: 2;
        margin-right: -1rem;
    }
    .headingImg {
        min-width: 34.0019rem;
        height: 36.5944rem;
    }
}

/*---------- 1100px ----------*/

@media (max-width: 1100px) {
    .headingTitle {
        margin-right: -5rem;
    }
    .headingTitleBlack{
        margin-right: -5rem;
    }
}

/*---------- 1000px ----------*/

@media (max-width: 1000px) {
    .headingImg {
        min-width: 27.8731rem;
        height: 29.9988rem;
    }
    .headingTitle {
        width: 26.1875rem;
    }
    .headingTitleBlack {
        width: 26.1875rem;
    }
}

/*---------- 884px ----------*/

@media (max-width: 884px) {
    .headingTitle {
        font-size: 3rem;
        min-width: 24.875rem;
        line-height: 3.45rem;
    }
    .headingTitleBlack {
        font-size: 3rem;
        min-width: 24.875rem;
        line-height: 3.45rem;
    }
}

/*---------- 768px ----------*/

@media (max-width: 768px) {
    .headingImg {
        min-width: 65vw;
        height: 65vw;
    }
    .headingTitle {
      min-width: 23.875rem;
        font-size: 3rem;
        margin-right: -10rem;
    }
    .headingTitleBlack {
      min-width: 23.875rem;
        font-size: 3rem;
        margin-right: -10rem;
    }
}

/*---------- 637px ----------*/

@media (max-width: 637px) {
    .headingTitle {
        font-size: 2.55rem;
    }
    .headingTitleBlack {
        font-size: 2.55rem;
    }
}

/*---------- 544px ----------*/

@media (max-width: 544px) {
    .headingTitle {
        min-width: 11.9375rem;
        font-size: 1.5rem;
        line-height: 1.725rem;
        margin-right: -5rem;
    }
    .headingTitleBlack {
        min-width: 11.9375rem;
        font-size: 1.5rem;
        line-height: 1.725rem;
        margin-right: -5rem;
    }
    .headingImg {
        margin-right: -1.91875rem;
    }
}