@media screen and (max-width:1368px){
    #services_cont{
        width: 500%;
        height: 1500%;
        left:-200%;
    }
}

@media screen and (max-width:1100px){
    #services_cont{
        width: 500%;
        height: 1500%;
        left:-300%;
    }
}

@media screen and (max-width:780px){
    #services_cont{
        width: 360%;
        height: 1500%;
        left:-205%;
    }
    .service_img{
        display:none;
    }
}

@media screen and (max-width:600px){
    #services_cont{
        width: 410%;
        left:-260%;
    }
}

@media screen and (max-width:500px){
    #services_cont{
        width:90%;
        height: auto;
        left: -5%;
        top:450%;
        border: 1px solid white;
    }
    #list_1{
        padding: 0px;
    }
    #list_2{
        padding: 0px;
    }
    #list_3{
        padding: 0px;
    }
    #list_4{
        padding: 0px;
    }
    #list_5{
        padding: 0px;
    }
}