.contactInfo {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    color:white;
}

.contactInfoCall {
    width: 17.605rem;
    display: flex;
    align-items: center;
    color:white;
}
.contactInfoBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4.2669rem;
    min-height: 4.2669rem;
    background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
    border-radius: 50%;
    font-size: 1.4631rem;
    cursor: pointer;
    z-index: 2;
    filter: brightness(1.1);
}

.contactInfoBtn::before {
    content: '';
    position: absolute;
    min-width: 4.9437rem;
    min-height: 4.9437rem;
    background: rgba(159, 145, 245, 0.38);
    z-index: 1;
    border-radius: 50%;
}

.contactInfoOrder {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 15.9375rem;
    height: 3.125rem;
    background: linear-gradient(92.88deg, #B565D8 9.74%, #EE609C 99.48%);
    border-radius: 0.625rem;
    margin-left: -2.0063rem;
    justify-content: center;
}




.contactInfoInfo {
    width: calc(98% - 17.605rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.contactInfoInfoBlack {
    width: calc(98% - 17.605rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.contactInfoPhone {
    position: relative;
    display: flex;
    align-items: center;
}

.contactInfoPhoneText {
    margin-right: 2.375rem;
}

.contactInfoNumbers {
    font-weight: 700;
}

.contactInfoMail {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}

.contactInfoMailBlack {
    position: relative;
    display: flex;
    align-items: center;
    color: black;
}

.contactInfoEmailText {
    margin-right: 2.375rem;
}

.contactInfoEmails {
    font-weight: 700;
}




/*========== Media Queries ==========*/

/*---------- 1000px ----------*/

@media (max-width: 1000px) {
    .contactInfo {
        justify-content: center;
        align-items: flex-start;
    }
    .contactInfoCall {
        margin-right: 0.875rem;
    }
    .contactInfoInfo {
        width: auto;
        flex-flow: column;
        align-items: flex-end;
        margin-left: 0.875rem;
    }
    .contactInfoInfoBlack {
        width: auto;
        flex-flow: column;
        align-items: flex-end;
        margin-left: 0.875rem;
    }
    .contactInfoPhone {
        margin-bottom: 0.837890625rem;
    }
    .contactInfoMail {
        margin-top: 0.837890625rem;
    }
    .contactInfoMailBlack {
        margin-top: 0.837890625rem;
    }
    .contactInfoEmails, .contactInfoNumbers {
        width: 8.7931rem;
    }
}

/*---------- 768px ----------*/

@media (max-width: 768px) {
    .contactInfo {
        flex-flow: column;
    }
    .contactInfoInfo {
        width: 100%;
        margin-top: 2.5rem;
        align-items: flex-end;
    }
    .contactInfoInfoBlack {
        width: 100%;
        margin-top: 2.5rem;
        align-items: flex-end;
    }
    .contactInfoPhone {
        flex-flow: column;
    }
    .contactInfoMail {
        flex-flow: column;
    }
    .contactInfoMailBlack {
        flex-flow: column;
    }
    .contactInfoPhoneText, .contactInfoEmailText {
        margin: 0;
        margin-bottom: 1.8125rem;
    }
    .contactInfoNum, .contactInfoEmail {
        margin-bottom: 1.25rem;
        text-align: right;
    }
    .contactInfo {
        padding-right: 2.5rem;
    }
}

/*---------- 320px ----------*/

@media (max-width: 320px) {
    .contactInfoCall {
        width: 15.605rem;
    }
}